//Module styles
.SliDe {
  position: relative;
  ul {
    height: 100%;
    position: relative;
    li {
      background: #f3f3f3;
      border: 1px solid #ff0000;
      display: inline-block;
      float: left;
      height: 100%;
    }
  }
}